# global
.*.swp
.DS_Store

# application
web/app/composer.json
web/app/composer.lock
web/app/vendor/
web/app/doc/
web/app/report/
data/
etc/ssl

# phpstorm
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

